partB/*.class
partB/out/
partB/.idea/
partB/*.iml
partB/.smbdelete*
partB/src/downloadedFiles/
partB/src/storedFiles/
partB/src/uploadedFiles/
gitpwd
.idea/
partA/__pycache__/
partA/client/__pycache__/
partA/server/__pycache__/
partA/client/local_files/short_text_file.txt
partA/server/local_files/short_text_file.txt
partA/client/shortTextFile.txt
partA/client/SmallFile.txt
partA/client/MediumFile.pdf
partA/server/shortTextFile.txt
partA/server/MediumFile.pdf
partA/server/LargeFile.mp4
partA/client/LargeFile.mp4
partA/server/SmallFile.txt
partA/client/LargeFile.mp4.old
partA/client/MassiveFile.whl
partA/server/LargerFile.psd
partA/server/BigFile.JPG
partA/client/LargerFile.psd
partA/client/BigFile.JPG
partB/java/src/localFiles/SmallFile.txt
partB/java/src/localFiles/MediumFile.pdf
partB/client/MassiveFile.whl
partB/client/LargerFile.psd
partB/client/LargeFile.mp4.old
partB/client/LargeFile.mp4
partB/server/LargerFile.psd
partB/server/LargeFile.mp4
partB/java/src/storedFiles/localFiles/shortTextFile.txt
partB/java/src/localFiles/shortTextFile.txt
partB/client/shortTextFile.txt
partB/client/SmallFile.txt
partB/client/MediumFile.pdf
partB/server/SmallFile.txt
partB/client/BigFile.JPG
partB/__pycache__/work_item.cpython-35.pyc
