partB/*.class
partB/out/
partB/.idea/
partB/*.iml
partB/.smbdelete*
partB/src/downloadedFiles/
partB/src/storedFiles/
partB/src/uploadedFiles/
gitpwd
.idea/
partA/__pycache__/
partA/client/__pycache__/
partA/server/__pycache__/
partA/client/local_files/short_text_file.txt
partA/server/local_files/short_text_file.txt
partA/client/shortTextFile.txt
partA/client/SmallFile.txt
partA/client/MediumFile.pdf
